<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<div th:object="${doctor}">

			<form action="/doctor/edit" method="POST">
			<section>
				<h1>Update Doctor Profile</h1>
				<p>
					<span th:text="${message}"></span>
				</p>

				<p>
					<label for="id"> <span>ID: </span>
					</label> <input type="text" id="id" th:field="*{id}"  readonly />
				</p>
				<p>
					<label for="first_name"> <span>First Name: </span>
					</label> <input type="text" id="first_name" th:field="*{first_name}"  readonly />
				</p>
				<p>
					<label for="last_name"> <span>Last Name: </span>
					</label> <input type="text" id="last_name" th:field="*{last_name}"  readonly />
				</p>
				<p>
					<label for="specialty"> <span>Specialty: </span>
					</label> <input type="text" id="specialty" th:field="*{specialty}" />
				</p>
				<p>
					<label for="year"> <span>First Year in Practice: </span>
					</label> <input type="text" id="yes" th:field="*{practice_since_year}" />
				</p>

				</section>
				<p>
					<button type="submit">Submit Change</button>
				</p>
			</form>
		
	</div>
</body>

</html>
